################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/aspnet-core/src/XPCPlatform.Application/obj
/aspnet-core/src/XPCPlatform.Application/bin

/aspnet-core/src/XPCPlatform.Application/Contracts/obj
/aspnet-core/src/XPCPlatform.Application/Contracts/bin

/aspnet-core/src/XPCPlatform.DbMigrator/obj
/aspnet-core/src/XPCPlatform.DbMigrator/bin

/aspnet-core/src/XPCPlatform.Domain/bin
/aspnet-core/src/XPCPlatform.Domain/obj

/aspnet-core/src/XPCPlatform.Domain.Shared/bin
/aspnet-core/src/XPCPlatform.Domain.Shared/obj

/aspnet-core/src/XPCPlatform.EntityFrameworkCore/bin
/aspnet-core/src/XPCPlatform.EntityFrameworkCore/obj

/aspnet-core/src/XPCPlatform.HttpApi/bin
/aspnet-core/src/XPCPlatform.HttpApi/obj

/aspnet-core/src/XPCPlatform.Client/bin
/aspnet-core/src/XPCPlatform.Client/obj

/aspnet-core/src/XPCPlatform.Host/bin
/aspnet-core/src/XPCPlatform.Host/obj




/angular/package-lock.json
/aspnet-core/src/XPCPlatform.HttpApi.Host/node_modules

/aspnet-core/src/XPCPlatform.HttpApi.Host/obj
/aspnet-core/src/XPCPlatform.HttpApi.Host/bin

/aspnet-core/test/XPCPlatform.Application.Tests/obj
/aspnet-core/test/XPCPlatform.Application.Tests/bin

/aspnet-core/test/XPCPlatform.Domain.Tests/obj/Debug
/aspnet-core/test/XPCPlatform.Domain.Tests/obj/bin

/aspnet-core/test/XPCPlatform.Domain.Tests/obj
/aspnet-core/test/XPCPlatform.Domain.Tests/bin

/aspnet-core/test/XPCPlatform.EntityFrameworkCore.Tests/obj/Debug
/aspnet-core/test/XPCPlatform.EntityFrameworkCore.Tests/obj/bin

/aspnet-core/test/XPCPlatform.EntityFrameworkCore.Tests/obj
/aspnet-core/test/XPCPlatform.EntityFrameworkCore.Tests/bin

/aspnet-core/test/XPCPlatform.TestBase/obj
/aspnet-core/test/XPCPlatform.TestBase/bin

/aspnet-core/test/XPCPlatform.HttpApi.Client.ConsoleTestApp/obj
/aspnet-core/test/XPCPlatform.HttpApi.Client.ConsoleTestApp/bin
/aspnet-core/.vs
/aspnet-core/src/XPCPlatform.Application.Contracts/obj
/aspnet-core/src/XPCPlatform.HttpApi.Client/obj
/aspnet-core/src/XPCPlatform.HttpApi.Client/obj
/aspnet-core/.vs/XPCPlatform/v17
/aspnet-core/src/XPCPlatform.Application.Contracts/bin
/aspnet-core/src/XPCPlatform.Application.Contracts/obj
/aspnet-core/src/XPCPlatform.HttpApi.Client/bin
/aspnet-core/src/XPCPlatform.HttpApi.Client/obj
/aspnet-core/.vs
/aspnet-core/src/XPCPlatform.HttpApi.Host/Logs/logs.txt
